<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <tr>
        <td width="100%">
          <div style="max-width:600px;Margin:0 auto">
            <table
              align="center"
              cellpadding="0"
              cellspacing="0"
              style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:24px;width:100%;max-width:500px"
            >
              <tbody>
                <tr>
                  <td style="text-align:justify;word-break:break-word">
                    <table style="margin:20px 0;width:100%" width="100%">
                      <tbody>
                        <tr>
                          <td>
                            <table
                              style="width:100%;margin-bottom:20px"
                              width="100%"
                              cellpadding="0"
                              cellspacing="0"
                            >
                              <tbody>
                                <tr>
                                  <td>            
                                    <h1
                                      style="font-size:26px;line-height:30px;color:#054752;word-break:normal" align="center"
                                    >
                                    Seu agendamento foi confirmado!
                                    </h1>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        
                        <tr>
                            <table style="width: 100%; margin: 15px 0;" class="cke_show_border" cellspacing="1" cellpadding="1" border="0" align="center">
                                
                                <thead style="font-size:17px;" >
                                    <tr>
                                        <th colspan="2" style="background-color: #e5e5e5eb; padding: 20px;" align="center">Dados do Agendamento</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:17px;">
                                    <tr>
                                        <td style="padding: 5px 10px 5px 0" width="35%" align="left">
                                            <p>Assunto</p>
                                        </td>
                                        <td style="padding: 5px 0" width="65%" align="left">
                                            <p><%= scheduling_subject %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 10px 5px 0" width="35%" align="left">
                                            <p>Descrição</p>
                                        </td>
                                        <td style="padding: 5px 0" width="65%" align="left">
                                            <p><%= scheduling_description %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 10px 5px 0" width="35%" align="left">
                                            <p>Data</p>
                                        </td>
                                        <td style="padding: 5px 0" width="65%" align="left">
                                            <p><%= scheduling_date %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 5px 10px 5px 0" width="35%" align="left">
                                            <p>Horário</p>
                                        </td>
                                        <td style="padding: 5px 0" width="65%" align="left">
                                            <p><%= scheduling_time %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td style="padding: 5px 10px 5px 0" width="35%" align="left">
                                          <p><strong>Status</strong></p>
                                      </td>
                                      <td style="padding: 5px 0" width="65%" align="left">
                                          <p><strong>Confirmado</strong></p>
                                      </td>
                                  </tr>
                                </tbody>
                            </table>
                        </tr>

                        <tr>
                          <td>
                            <center>
                              <table
                                style="background-color:#fff;margin:20px 0;table-layout:fixed"
                                align="center"
                                width=""
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="background-color:#6610f2;color:#fff;text-align:center;border-radius:48px;padding:18px 24px;border-color:transparent;font-weight:bold;font-size:16px;line-height:1"
                                    >
                                      <a style="color: white; text-decoration: none;" href="<%= link_app %>/client/requests%>"> Ver no Site </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </center>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                    
                </tr>
                <tr>
                  <td>
                    <table width="100%" style="margin-bottom:20px;width:100%">
                      <tbody>
                        <tr>
                          <td width="100%">
                            <div
                              style="width:100%;height:1px;background-color:#ddd"
                              color="#DDD"
                              width="100%"
                            ></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
  
                <tr>
                    <td align="center">
                        <a
                          href="<%= link_app %>"
                          style="font-family:Helvetica,Arial,sans-serif;color:#0086bf"
                          target="_blank"
                        >
                          <img
                            src="https://veedne.stripocdn.email/content/guids/b6c2a20c-088c-41fb-9897-419dab6ae486/images/logo.png"
                            style="display:block"
                            alt="Super Pros"
                            width="50%"
                          />
                        </a>
                      </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>